body {
  margin: 0px;
}

.header-container {
  border: 1px solid black;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.container {
  position: relative;
  height: 80vh;
}

.container-light {
  background-color: #fff;
  color: #000;
}

.container-dark {
  background-color: #000;
  color: #fff;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
}

.content h2 {
  text-align: center;
}

.content-light {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
}

.content-dark {
  background-color: #000;
  color: #fff;
  border: 1px solid #fff;
}